OPENSHIFT_NAMESPACE: bb18ab
STAGE: dev

name: anycable-go

route:
  spec:
    host: "websockets.dev.buildingpermit.gov.bc.ca"

anycable-go:
  nameOverride: "anycable-go"
  fullNameOverride: "anycable-go"
  replicas: 1
  image:
    repository: anycable/anycable-go
    tag: 1.4.8
    pullPolicy: IfNotPresent
  env:
    # Assuming that Ruby RPC is available in K8s in the same namespace as anycable-rpc service (see next chapter)
    anycableRpcHost: hous-permit-portal-anycable-rpc:50051
    anycableRedisUrl: "redis://redisMasterSet:6379/1"
    anycableRedisSentinels: "redis-ha-headless:26379"
  ingress:
    enable: true
    path: /cable
  resources:
    requests:
      cpu: 20m
      memory: 128Mi
    limits:
      cpu: 150m
      memory: 128Mi
