@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Material+Icons");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://unpkg.com/@phosphor-icons/web@2.0.3/src/fill/style.css");
@import "bootstrap/dist/css/bootstrap.min.css";
@import "formiojs/dist/formio.form.css";

// Variables
$bcgov-blue: #003366;
$bcgov-blue-secondary: #38598a;
$bcgov-orange: #fcba19;
$bcgov-grey: #efefef;
$bcgov-font: #313132;
$bcgov-error: #d8292f;
$bcgov-link: #1a5a96;
$bcgov-link-hover: #3b99fc;
$bcgov-input-placeholder: #606060;
$bcgov-font-error: #a12622;
$bcgov-font-warning: #6c4a00;
$bcgov-font-success: #2d4821;
$bcgov-alert-error: #f2dede;
$bcgov-alert-warning: #f9f1c6;
$bcgov-alert-info: #d9eaf7;
$bcgov-alert-success: #dff0d8;

//blueAlt is bcgov-blue-secondary
$blue-light: #f6f9fc;

/////////////////////////////////
///  override formio styles:
/////////////////////////////////

// override formio form designer
.form-designer,
// override form viewer
.form-wrapper,
// override preview panel in form builder component editor modal
.component-preview {
  ///////
  /////moved from the main application
  ///////

  // Typography
  .v-application {
    font-family: -apple-system, BlinkMacSystemFont, BCSans, Roboto, Verdana, Arial, sans-serif !important;
    line-height: 1.4;
    font-size: 0.875rem;
  }

  h1 {
    font-size: 1.9em;
  }
  h2 {
    font-size: 1.7em;
  }
  h3 {
    font-size: 1.3em;
  }
  h4 {
    font-size: 1.05em;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $bcgov-font;
    line-height: 1.2;
    font-weight: bold;
  }

  p {
    color: $bcgov-font;
    line-height: 1.7;
  }

  // links
  a {
    color: $bcgov-link;
    &:hover {
      color: $bcgov-link-hover;
    }
  }

  // Horizontal Rule
  hr {
    margin-bottom: 1em;
    .orange {
      border-top: 2px solid $bcgov-orange;
    }
  }

  // General Transition Animation Behavior
  .component-fade-enter-active,
  .component-fade-leave-active {
    transition: opacity 0.3s ease;
  }
  .component-fade-enter,
  .component-fade-leave-to {
    opacity: 0;
  }

  ///////
  ///// end moved from the main application
  ///////

  // layout
  div[class^="col-"]:nth-child(n + 1) {
    padding-top: 0; // make nested columns line up vertically alongside components in non-nested adjacent columns
  }

  // tabs, cards, headings etc..
  .card-header {
    font-weight: bold;
    color: $bcgov-font;
    opacity: 1;
    .fa-minus-square-o::before,
    .fa-plus-square-o::before {
      font-size: 130%;
      color: black;
    }
    .fa-minus-square-o::before {
      content: "\f106";
    }
    .fa-plus-square-o::before {
      content: "\f107";
    }
  }

  // Undo "break-all". Breaking in the middle of all words affects readability.
  .formio-component .table {
    word-break: break-word;
  }

  // tabs component
  .formio-component-simpletabs {
    & > .card {
      border: 0;

      & > .card-body {
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.125);
        border-width: 0 1px 1px 1px;
        border-radius: 0;
      }
    }
    & > .card > .card-header {
      background: none;

      .nav-item {
        background-color: $bcgov-grey;
        margin-right: 3px;

        .nav-link {
          @extend a;
          font-weight: normal;

          &.active {
            color: $bcgov-font;
            background: white;

            &:hover {
              color: $bcgov-font;
              cursor: default;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  // form inputs
  .form-control {
    // placeholder text to match bcgov
    &::placeholder,
    .choices__placeholder {
      color: $bcgov-input-placeholder;
      opacity: inherit;
    }

    &:not(.is-invalid) {
      // input borders to match bcgov (exclude invalid fields that should be red)
      border: 1px solid $bcgov-input-placeholder;
    }
  }

  // remove alert icons from invalid fields
  .form-control.is-invalid,
  .was-validated .form-control:invalid {
    background-image: none;
  }

  // add rounded corners to Date / Time Component input groups and red border if invalid
  .input-group > .flatpickr-input.form-control {
    & + .form-control.input {
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }
    // if validation error make borders red;
    &.is-invalid + .form-control.input {
      border: 1px solid #dc3545;

      &:focus {
        border-color: #dc3545;
        -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
        box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
      }
    }
  }

  // buttons

  .btn.btn-primary {
    background-color: $bcgov-blue;
    border: none;
    color: white;

    &:hover {
      background-color: $bcgov-blue;
      text-decoration: underline;
    }

    &:disabled,
    &[disabled="disabled"],
    &[disabled="disabled"] &:hover {
      cursor: default;
      text-decoration: none;
      background-color: rgba(0, 0, 0, 0.12);
      opacity: 1;
      color: rgba(0, 0, 0, 0.26) !important;
    }
  }

  // formio submit buttons
  .formio-component-button .btn {
    text-transform: uppercase;
    padding: 8px 16px;
    line-height: 21px;
    font-weight: 700;
    letter-spacing: 0.0892857143em;
    font-size: 0.875rem;
  }

  // add margin to create space between the button and form.io inputs
  .formio-component-button {
    margin-top: 1rem;
  }

  // tooltips
  .tooltip-inner {
    background-color: #606060;
    border-radius: 3px;
    box-shadow: 0 2px 8px 0 rgba(175, 175, 175, 0.5);
    font-size: 0.85em;
  }

  // validation messages and help text
  .form-text {
    font-size: 0.85em;
  }
  .invalid-feedback {
    font-size: 100%; // reset this wrapper
  }
  .form-text.error {
    background: none !important;
    color: $bcgov-error;
  }

  // hide asterisks after input in Data Grid when labels appear as table headers
  .formio-component-datagrid {
    label.field-required.control-label--hidden::after {
      content: "";
    }
  }

  // dropdowns
  .choices__list--dropdown {
    .choices__item {
      &:not(.is-selected) {
        color: $bcgov-font;
      }
      &:hover {
        background-color: $bcgov-link-hover;
        color: white;
      }
    }
  }

  .choices__list--multiple {
    .choices__item {
      margin-bottom: 0;
      font-size: 90%;
    }
    .choices__item,
    .choices__button {
      background-color: white;
      color: $bcgov-link;
      border-color: $bcgov-link;
      &:hover {
        background-color: $bcgov-link-hover;
        border-color: $bcgov-link-hover;
        color: white;
      }
    }
  }

  // hide 'X' (button that removes selected option) on dropdown, when placeholder exists and no selectiuon has been made
  .choices__placeholder button {
    display: none;
  }

  // radio buttons and checkboxes
  .form-radio {
    .form-check {
      margin-bottom: 5px;
      .form-check-label {
        font-size: 1em;

        .form-check-input {
          transform: scale(1.3);
        }
        span {
          margin-left: 5px;
        }
      }
    }
  }

  // form builder misc.
  .drag-and-drop-alert.alert-info {
    border: 2px dashed grey;
    background-color: transparent;
    color: grey;
    padding: 30px;
  }
}

@mixin yellowBarHeader {
  line-height: 150%;

  &::before {
    content: "";
    display: block;
    width: 36px;
    height: 8px;
    border-top: 4px solid #fcba19;
  }
}

.form-wrapper {
  h2 {
    @include yellowBarHeader;
  }

  .formio-section-container > label {
    @include yellowBarHeader;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .card {
    margin-bottom: 24px !important;
  }

  .card-body {
    padding: 24px !important;
  }

  .tips {
    border-left: 4px solid;
    border-color: $bcgov-blue-secondary;
    background-color: $blue-light;
    padding-left: var(--chakra-space-6);
    padding-top: var(--chakra-space-3);
    padding-bottom: var(--chakra-space-3);
    padding-right: var(--chakra-space-6);
    margin-top: 4px;
    margin-bottom: 4px;

    .tips-header {
      color: $bcgov-blue-secondary;
      .i {
        background-color: $bcgov-blue-secondary;
        height: 24px;
        width: 24px;
        margin-right: 6px;
      }
    }
  }

  .compliance {
    background-color: $blue-light !important;
    .i {
      background-color: $bcgov-blue-secondary;
      height: 24px;
      width: 24px;
      margin-right: 6px;
    }
  }

  .optional-block-confirmation-checkbox {
    font-weight: 700;

    &:before {
      content: "";
      display: block;
      height: 1px;
      background-color: gray;
      width: 100%;
      margin-top: 24px;
      margin-bottom: 24px;
      // position: absolute;
      top: 0;
      left: 0;
    }
  }

  .submit-fail {
    &:after {
      display: none;
    }
  }

  .help-block {
    display: block;
    margin-top: 16px;
    color: #d9292f;
    font-weight: 700;
  }
}
