#THIS IS THE BAREBONES .ENV TO RUN DOCKER NOT INCLUDING THE RELATED SERVICES DEFINED IN DOCKER_COMPOSE.YML
#OTHER SERVICES LIKE EMAIL / STORAGE / COMPLIANCE PLEASE ADD AS REQUIRED

KEYCLOAK_SECRET=
KEYCLOAK_CLIENT=
KEYCLOAK_AUTH_URL=

FROM_EMAIL="no-reply@bc.gov.ca"
SESSION_TIMEOUT_MINUTES=360

# Step code - You can remove this if you are forking the repo, but need to remove subsequent step cod related features.
MIN_ENERGY_STEP=3
MAX_ENERGY_STEP=5
MIN_ZERO_CARBON_STEP=1
MAX_ZERO_CARBON_STEP=4

# Dev Only, we disable compliance checks by default
RUN_COMPLIANCE_ON_SAVE=false

VITE_BCEID_URL="https://www.development.bceid.ca"
VITE_BASIC_BCEID_REGISTRATION_URL="https://www.development.bceid.ca/register/basic/account_details.aspx?type=regular&eServiceType=basic"
VITE_BUSINESS_BCEID_REGISTRATION_URL="https://www.development.bceid.ca/register/business/getting_started/getting_started.aspx"
VITE_SITEMINDER_LOGOUT_URL="https://logontest7.gov.bc.ca/clp-cgi/logoff.cgi"
VITE_KEYCLOAK_LOGOUT_URL="https://dev.loginproxy.gov.bc.ca/auth/realms/standard/protocol/openid-connect/logout"
VITE_POST_LOGOUT_REDIRECT_URL='http://localhost:3000'
