/* Update version if react-quill or quill-mention packages are upgraded */
@import url("https://unpkg.com/react-quill@2.0.0/dist/quill.snow.css");
@import url("https://unpkg.com/react-quill@2.0.0/dist/quill.bubble.css");
@import url("https://unpkg.com/quill-mention@3.1.0/dist/quill.mention.css");

.ql-container {
  font-family: inherit;
}

/* override default quill styles*/
.quill .ql-container.ql-snow {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  display: flex;
  flex-direction: column;
}

.ql-editor {
  flex-grow: 1;
  border-color: transparent;
}

.quill .ql-toolbar.ql-snow {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border: 1px solid var(--chakra-colors-border-light);
}

.quill .ql-container {
  font-size: 1rem;
  font-family: inherit;
  /* border: 0 !important; */
}

/*// this is to overrides placeholder styles*/

.ql-editor ul {
  padding-left: 0;
}
