// Variables
$bcgov-blue: #003366;
$bcgov-blue-secondary: #38598a;
$bcgov-orange: #fcba19;
$bcgov-grey: #efefef;
$bcgov-font: #313132;
$bcgov-error: #d8292f;
$bcgov-link: #1a5a96;
$bcgov-link-hover: #3b99fc;
$bcgov-input-placeholder: #606060;
$bcgov-font-error: #a12622;
$bcgov-font-warning: #6c4a00;
$bcgov-font-success: #2d4821;
$bcgov-alert-error: #f2dede;
$bcgov-alert-warning: #f9f1c6;
$bcgov-alert-info: #d9eaf7;
$bcgov-alert-success: #dff0d8;

//blueAlt is bcgov-blue-secondary
$blue-light: #f6f9fc;
$error-light: #f7e1e3;
$error: #d9292f;
