template_publish:
  cron: "1 0 * * * America/Vancouver"
  class: "TemplatePublishJob"
  queue: default
  active_job: false

remind_reviewers:
  cron: "30 8 * * 1 America/Vancouver" # Runs every Monday at 8:30 AM
  class: "RemindReviewerJob"
  queue: default
  active_job: false

send_batched_integration_mapping_notifications:
  cron: "0 * * * * America/Vancouver" # Runs every hour
  class: "SendBatchedIntegrationMappingNotificationsJob"
  queue: default
  active_job: false

check_expiring_api_keys:
  cron: "0 0 * * * America/Vancouver" # Runs daily at midnight
  class: "CheckExpiringApiKeysJob"
  queue: default
  active_job: false

remind_resource_update:
  cron: "0 9 * * * America/Vancouver" # Runs daily at 9:00 AM
  class: "ResourceReminderJob"
  queue: default
  active_job: false
